@charset "utf-8";

::selection {
    background-color: #95bac5;
    color: #fff;
}

* {
    box-sizing: border-box;
}

html {
    background-color: #A6D0DD;
    color: #222;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* header */
header {
    width: 100%;
    height: 50px;
}
  
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
  
header ul > li:first-child {
    font-size: 22px;
    margin-left: 50px;
}
  
header ul > li:last-child {
    font-size: 22px;
    margin-right: 50px;
}

header .btn {
    width: 100px;
    height: 50px;
    background-color: #ff6969;
    color: #222;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 1.1rem;
    position: fixed;
    bottom: 20px;
    right: 30px;
  }