@charset "utf-8";

/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

::selection {
    background-color: #95bac5;
    color: #fff;
}

* {
    box-sizing: border-box;
}

html {
    background-color: #A6D0DD;
    color: #222;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

h2 {
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    width: 1600px;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
}

/* header */
header {
    width: 100%;
    height: 50px;
}
  
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
  
header ul > li:first-child {
    font-size: 22px;
    margin-left: 50px;
}
  
header ul > li:last-child {
    font-size: 22px;
    margin-right: 50px;
}

header .btn {
    width: 100px;
    height: 50px;
    background-color: #ff6969;
    color: #222;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 1.1rem;
    position: fixed;
    bottom: 20px;
    right: 30px;
  }

/* main */
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main .main-txt h1 {
    font-size: 2.4rem;
    line-height: 2;
}

.main .main-txt .main-happyrun {
    background-image: linear-gradient(-90deg, #ff02c7, #36ffdb);
    width: 200px;
    height: 50px;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main .main-txt h3 {
    font-size: 1.2rem;
    line-height: 1.6;
}

.main .main-txt p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}

/* overview */
.overview {
    width: 100%;
    height: 100vh;
}

.overview .overview-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 800px;
    margin: 50px auto 0;
    text-align: left;
}

/* process */
.process {
    width: 100%;
    height: 100vh;
}

.process img {
    display: block;
    width: 1000px;
    margin: 50px auto 0;
}

/* problem */
.problem {
    width: 100%;
    height: 100vh;
}

.problem-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    width: 35vw;
    margin: 50px auto;
}

.problem .problem-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/* swot */
.swot {
    width: 100%;
    height: 100vh;
}

.swot .swot-img {
    width: 55vw;
    margin: 50px auto 0;
}

/* as is to be */
.asistobe {
    width: 100%;
    height: 150vh;
}
.asistobe-img {
    width: 70vw;
    margin: auto;
}

/* ux vision */
.ux-vision {
    width: 100%;
    height: 100vh;
}

.ux-vision .ux-vision-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin: 50px auto 0;
}

.ux-vision .ux-vision-txt span {
    font-weight: 500;
}

/* style guide */
.style-guide {
    width: 100%;
    height: 100vh;
}

.style-guide-img {
    width: 40vw;
    margin: 50px auto 0;
}

/* wireframe */
.wireframe {
    width: 100%;
    height: 150vh;
}

.wireframe .wireframe-img {
    width: 55vw;
    margin: 100px auto 0;
}

/* prototype */
.prototype {
    width: 100%;
    height: 130vh;
}

.prototype .prototype-img {
    width: 15vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 50px auto 10px;
}

.prototype .prototype-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

.learn {
    width: 100%;
    height: 80vh;
}

.learn .learn-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin: 50px auto 0;
}

/* lacking */
.lacking {
    width: 100%;
    height: 80vh;
}

.lacking .lacking-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin: 50px auto 0;
}

/* review */
.review {
    width: 100%;
    height: 80vh;
}

.review-txt {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    width: 30vw;
    text-align: center;
    margin: 50px auto 0;
}

.site {
    height: 200px;
  }
  
.site .site-btn {
    width: 240px;
    height: 80px;
    background-color: #ff6969;
    color: #222;
    border-radius: 30px;
    text-align: center;
    line-height: 80px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    margin: auto;
  }