@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

::selection {
  background-color: #8adeff;
  color: #fff;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #bccdfc;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  background-image: linear-gradient(
    -230deg,
    #a6bdfc,
    #7998ee,
    #4e6bb4,
    #1d42a1 /*#BDD8F1,#82A6CB,#3667A6,#214177*/
  );
  background-size: 400%;
  animation: gradient1 6s infinite ease-in-out;
}

@keyframes gradient1 {
  20% {
    background-position: 0 30%;
  }
  40% {
    background-position: 20% 50%;
  }
  60% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 0 30%;
  }
}

h2 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 600;
  width: 1700px;
  margin: auto;
  line-height: 3;
  border-bottom: 2px solid #000;
}

article {
  width: 100%;
  height: 100vh;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

header .main_logo {
  font-size: 1.5rem;
  margin-left: 20px;
}

header .menu {
  font-size: 1.5rem;
  margin-right: 20px;
  text-transform: capitalize;
  display: flex;
  gap: 30px;
}

/* main */

main {
  width: 100%;
  height: 100vh;
}

main .main_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 110px 0;
}

main .main_txt h3 {
  font-size: 8rem;
  font-weight: 600;
}

main .main_txt p {
  font-size: 4rem;
  font-weight: bold;
}

main .main_txt a {
  font-size: 2rem;
  text-decoration: underline;
}

main .main_myicon {
  width: 600px;
}

/* portfolio */
.mySwiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mySwiper .swiper-slide {
  width: 100%;
  cursor: -webkit-grab;
}

.mySwiper .swiper-slide img {
  /* width: 50%; */
  height: 70%;
  object-fit: contain;
  margin: auto;
  margin-top: 50px;
}

/* .mySwiper .bg2 img {
  width: 330px;
} */

.mySwiper .swiper-slide .txt-box {
  text-align: center;
  margin-top: 20px;
}

.mySwiper .swiper-slide .txt-box p {
  font-size: 1.4rem;
}

.mySwiper .swiper-slide .txt-box h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.swiper-button-prev::after {
  position: absolute;
  top: -130px;
  left: 15vw;
  color: #fff;
}

.swiper-button-next::after {
  position: absolute;
  top: -130px;
  right: 15vw;
  color: #fff;
}

/* about me */
.skills .my_txt {
  font-size: 4.5rem;
  font-weight: 600;
  margin: 50px auto;
  width: 1700px;
}

.skills-list {
  margin: auto;
  width: 1700px;
  list-style: outside;
}

.skills h3 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3;
  border-top: 1px solid #000;
}

.skills-list li {
  font-size: 2rem;
  line-height: 2;
}

/* get in touch */
.getintouch img {
  width: 600px;
}
