@charset "utf-8";

/* * {
    box-sizing: border-box;
} */

html {
    background-color: #e9f0f8;
    color: #222;
    scroll-behavior: smooth;
}

body {
    font-family: 'pretendard', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 600;
    color: #222;
    width: 90%;
    margin: auto;
    line-height: 3;
    border-bottom: 2px solid #222;
    position: relative;
}
  
h1 > img {
    width: 60px;
    height: 42px;
    position: absolute;
    top: -10px;
    left: -25px;
    animation: cloud 4s infinite;
}
  
@keyframes cloud {
    0% {
      transform: rotate(-9deg);
    }
    50% {
      transform: rotateZ(10deg);
    }
    100% {
      transform: rotateZ(-10deg);
    }
}

.emoji {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 3rem;
    text-align: center;
    width: 20px;
    height: 20px;
    z-index: 101;
    cursor: pointer;
    will-change: transform;
}

/* header */

.m-header > p {
    font-size: 1.4rem;
    text-transform: capitalize;
    padding: 20px 0 0 20px;
}

.m-header .btn {
    width: 80px;
    height: 40px;
    background-color: #749BC2;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 1rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.tp-header {
    display: none;
}

/* main */

.m-main {
    width: 100vw;
    height: 90vh;
    display: grid;
    place-items: center;
}

.m-main .main-box {
    line-height: 2;
}

.m-main .main-box > h2 {
    font-size: 2.6rem;
    text-transform: uppercase;
}

.m-main .main-box > h3 {
    font-size: 2rem;
}

.m-main .main-box .typing {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    line-height: 2;
    font-size: 2rem;
}

.m-main .main-box .typing > .text {
    color: #749bc2;
    font-size: 2rem;
}

.m-main .main-box .typing > .text::after {
    content: '';
    border-right: 2px solid #222;
    animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
    from { border-right: 2px solid #222; }
    to { border-right: 2px solid #222; }
}

.m-main .main-box > a {
    font-size: 1.6rem;
    text-decoration: underline;
}

.tp-main {
    display: none;
}

/* portfolio */

.mySwiper {
    width: 100%;
    height: 70vh;
    /* overflow: hidden; */
    position: relative;
}

.mySwiper .swiper-container {
    width: 100%;
    height: 100%;
}

.mySwiper .swiper-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.mySwiper .swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
}

.mySwiper .swiper-slide > a > img {
    margin-top: 10%;
    width: 70vw;
}

.mySwiper .swiper-slide > .txt-box {
    margin-top: 5%;
    line-height: 2;
}

.mySwiper .swiper-slide > .txt-box > .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.mySwiper .swiper-button-prev::after {
    position: absolute;
    top: -22vw;
    left: 5vw;
    font-size: 1.6rem;
    color: #222;
}
  
.mySwiper .swiper-button-next::after {
    position: absolute;
    top: -22vw;
    right: 5vw;
    font-size: 1.6rem;
    color: #222;
}

/* about me */

.m-aboutMe {
    width: 100%;
    height: 100vh;
}

.m-aboutMe .aboutMe-box {
    text-align: center;
}

.m-aboutMe .aboutMe-box > .myEp {
    margin-top: 5%;
   line-height: 1.6;
   text-align: center; 
}

.m-aboutMe .aboutMe-box > .myEp > img {
    width: 35vw;
}

.m-aboutMe .aboutMe-box > .myEp > h2 {
    width: 63%;
    margin: auto;
    margin-top: 5%;
}
.m-aboutMe .aboutMe-box > .name {
    margin-top: 6%;
    line-height: 1.6;
}

.m-aboutMe .aboutMe-box > .name > img { width: 5%; }
.m-aboutMe .aboutMe-box > .name > h4 { font-weight: 600; }

.m-aboutMe .aboutMe-box > .age {
    margin-top: 6%;
    line-height: 1.8;
}

.m-aboutMe .aboutMe-box > .age > img { width: 5% }
.m-aboutMe .aboutMe-box > .age > h4 { font-weight: 600; }

.m-aboutMe .aboutMe-box > .email {
    margin-top: 6%;
    line-height: 1.8;
}

.m-aboutMe .aboutMe-box > .email > img { width: 5% }
.m-aboutMe .aboutMe-box > .email > h4 { font-weight: 600; }

.m-aboutMe .aboutMe-box > .career {
    margin-top: 6%;
    line-height: 1.8;
}

.m-aboutMe .aboutMe-box > .career > img { width: 5% }
.m-aboutMe .aboutMe-box > .career > h4 { font-weight: 600; }

.tp-aboutMe {
    display: none;
}

/* skill */

.skill {
    width: 100%;
    height: 100vh;
}

.skill .skill-box {
    margin-top: 5vw;
    text-align: center;
    line-height: 1.6;
}

.skill .skill-box > .item {
    margin-top: 10%;
}

.skill .skill-box > .item > h3 {
    margin-bottom: 5vw;
    font-size: 1.4rem;
    font-weight: 500;
}

/* footer */

footer {
    width: 100%;
    height: 25vh;
}

footer .footer-box {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .footer-box .footer-left {
    display: flex;
    gap: 10px;
}

footer .footer-box .footer-left a {
    transition: 0.4s;
}

footer .footer-box .footer-left a:hover {
    color: #749bc2;
}

footer .footer-box .footer-right {
    display: flex;
    gap: 10px;
}

footer .footer-box .footer-right > a > img {
    width: 8vw;
    height: 8vw;
    transition: 0.4s;
}

footer .footer-box .footer-right > a > img:hover {
    transform: translateY(-10px);
}