@charset "utf-8";

/* portfolio */

.mySwiper {
    height: 100vh;
}

.mySwiper .swiper-slide {
    height: 80%;
}

.mySwiper .swiper-slide > a > img {
    margin-top: 5%;
    width: 40vw;
}

.mySwiper .swiper-slide > .txt-box {
    margin-top: 4%;
}

.mySwiper .swiper-slide > .txt-box > .tag {
    gap: 50px;
    font-weight: 600;
}

.mySwiper .swiper-button-prev::after {
    position: absolute;
    top: -7vw;
    left: 15vw;
    font-size: 3rem;
    color: #222;
}
  
.mySwiper .swiper-button-next::after {
    position: absolute;
    top: -7vw;
    right: 15vw;
    font-size: 3rem;
    color: #222;
}