@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

::selection {
  background-color: #95bac5;
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #a6d0dd;
  color: #222;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 600;
  width: 90%;
  margin: auto;
  line-height: 3;
  border-bottom: 2px solid #222;
}

.start {
  width: 100%;
  height: 100vh;
}

.emoji {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 3rem;
  text-align: center;
  width: 30px;
  height: 30px;
  z-index: 99;
  cursor: pointer;

  will-change: transform;
}

/* header */
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header .header-left {
  margin-left: 20px;
}

header .header-left > li > a {
  font-size: 1.4rem;
}

header .header-right {
  display: flex;
  gap: 50px;
  margin-right: 20px;
}

header .header-right > li > a {
  font-size: 1.4rem;
  transition: 0.4s;
}

header .header-right > li > a:hover {
  color: #ff6969;
}

header .btn {
  width: 100px;
  height: 50px;
  background-color: #ff6969;
  color: #222;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 1.1rem;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

/* main */
.main {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.main .main-left {
}

.main .main-left > h3 {
  font-size: 5rem;
  font-weight: 600;
}

.main .main-left > p {
  font-size: 3.8rem;
  font-family: 'Noto Sans KR', sans-serif;
}

.main .main-left > p > span {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 3.8rem;
  white-space: nowrap;
  color: transparent;
  position: absolute;
}

.main .main-left > p > span::before {
  content: '성장이 빠른';
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: #ff6969;
  overflow: hidden;
  border-right: 1px solid #a6d0dd;
  animation: typing 4s steps(50) infinite;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.main .main-left > a {
  font-size: 2rem;
  text-decoration: underline;
}

.main .main-right {
  animation: itsme 3s infinite;
}

@keyframes itsme {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(1vw);
  }
}

.main .main-right > img {
  width: 500px;
}

/* contents */
/* portfolio */
.mySwiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mySwiper .swiper-container {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.mySwiper .swiper-slide {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySwiper .swiper-slide > .txt-box {
  font-family: 'Noto Sans KR', sans-serif;
  position: absolute;
  top: 700px;
  margin: auto;
}

.mySwiper .swiper-slide > .txt-box > p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2;
}

.mySwiper .swiper-slide > .txt-box > h3 {
  font-size: 1.4rem;
}

.mySwiper .swiper-button-prev::after {
  position: absolute;
  top: -100px;
  left: 15vw;
  color: #222;
}

.mySwiper .swiper-button-next::after {
  position: absolute;
  bottom: 100px;
  right: 15vw;
  color: #222;
}

/* about me */
.about-me {
  width: 100%;
  height: 100vh;
}

.about-me h2 {
  font-size: 4.6rem;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}
/* skill */
.skill {
  width: 100%;
  /* height: 100vh; */
}

.skill h3 {
  font-size: 1.8rem;
  font-weight: 500;
  /* border-bottom: 1px solid #222; */
  border: 1px solid #222;
  width: 35%;
  margin-left: 100px;
  margin-top: 100px;
  line-height: 2;
  text-align: center;
}

.skill ul {
  width: 90%;
  margin: auto;
  line-height: 2;
  padding: 50px 0 0 50px;
  margin-bottom: 15px;
}

.skill ul > li {
  font-size: 1.4rem;
}

.skill .skills {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* get in touch */
footer {
  margin-top: 100px;
  width: 100%;
  /* height: 100vh; */
}

footer > h1 > span {
  text-transform: none;
  font-size: 1.3rem;
  margin-left: 50px;
  transition: 0.4s;
}

footer > h1 > span:hover {
  color: #ff6969;
}

footer .footer-wrapper {
  width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto 50px auto;
}

footer .footer-wrapper .footer-left > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

footer .footer-wrapper .footer-left > ul > li {
  font-size: 1.5rem;
}

footer .footer-wrapper .footer-left > ul > li > a {
  transition: 0.4s;
}

footer .footer-wrapper .footer-left > ul > li > a:hover {
  color: #ff6969;
}

footer .footer-wrapper .footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

footer .footer-wrapper .footer-right img {
  width: 70px;
  transition: 0.4s;
}

footer .footer-wrapper .footer-right img:hover {
  transform: translateY(-10px);
}

/*
.mySwiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mySwiper .swiper-slide {
  width: 100%;
  cursor: -webkit-grab;
}

.mySwiper .swiper-slide img {
  height: 70%;
  object-fit: contain;
  margin: auto;
  margin-top: 50px;
}
*/
