@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

::selection {
  background-color: #528388;
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #9BCDD2;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #FAF0E4;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 600;
  width: 1600px;
  margin: auto;
  line-height: 3;
  border-bottom: 2px solid #FAF0E4;
}

/* header */
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

header .header-left {
  margin-left: 20px;
}

header .header-left > li > a {
  font-size: 1.4rem;
}

header .header-right {
  display: flex;
  gap: 50px;
  margin-right: 20px;
}

header .header-right > li > a {
 font-size: 1.4rem;
 transition: 0.4s;
}

header .header-right > li > a:hover {
  color: #FF8551;
}

header .btn {
  width: 100px;
  height: 50px;
  background-color: #FF8551;
  color: #FAF0E4;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 1.1rem;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

/* main */
.main {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.main .main-left {
}

.main .main-left > h3 {
  font-size: 5rem;
  font-weight: 600;
}

.main .main-left > p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 4rem;
  white-space: nowrap;
  color: transparent;
  position: absolute;
}

.main .main-left > p::before {
  content: '안녕하세요, 이수빈입니다!';
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
  color: #FAF0E4;
  overflow: hidden;
  border-right: 1px solid #FAF0E4;
  animation: typing 8s steps(50) infinite;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.main .main-left > a {
  font-size: 2rem;
  position: absolute;
  bottom: 170px;
  left: 140px;
}

.main .main-right {
}

.main .main-right > img {
  width: 500px;
}

/* contents */
/* portfolio */
.mySwiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mySwiper .swiper-container {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySwiper .swiper-button-prev::after {
  position: absolute;
  top: -50px;
  left: 15vw;
  color: #FAF0E4;
}

.mySwiper .swiper-button-next::after {
  position: absolute;
  top: -50px;
  right: 15vw;
  color: #FAF0E4;
}

/* about me */
.about-me {
  width: 100%;
  height: 100vh;
}

.about-me h2 {
  font-size: 5rem;
  width: 1600px;
  margin: auto;
  margin-top: 50px;
}
/* skill */
.skill {
  width: 100%;
  height: 100vh;
}

.skill h3 {
  font-size: 1.8rem;
  border-bottom: 1px solid #FAF0E4;
  width: 1600px;
  margin: auto;
  line-height: 2;
}

.skill ul {
  width: 1600px;
  margin: auto;
  line-height: 1.8;
  padding: 20px 0 0 50px;
  margin-bottom: 15px;
}

.skill ul > li {
  font-size: 1.4rem;
}

/* get in touch */
footer {
  width: 100%;
  /* height: 100vh; */
}

footer .footer-wrapper {
  width: 1600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin: 50px auto 50px auto;
}

footer .footer-wrapper img {
  width: 100px;
}

/*
.mySwiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mySwiper .swiper-slide {
  width: 100%;
  cursor: -webkit-grab;
}

.mySwiper .swiper-slide img {
  height: 70%;
  object-fit: contain;
  margin: auto;
  margin-top: 50px;
}
*/

