@charset "utf-8";

.emoji {
    width: 25px;
    height: 25px;
}

/* header */

.m-header {
    display: none;
}

.tp-header {
    display: block;
}

.tp-header .btn {
    width: 80px;
    height: 40px;
    background-color: #749BC2;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 1rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.tp-header .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.tp-header .header-box > p {
    font-size: 1.4rem;
    text-transform: capitalize;
}

.tp-header .header-box .menu-box {
    display: flex;
    gap: 30px;
}

.tp-header .header-box .menu-box li {
    font-size: 1.2rem;
    transition: 0.4s;
}

.tp-header .header-box .menu-box li:hover {
    color: #749BC2;
}

/* main */

.m-main {
    display: none;
}

.tp-main {
    display: block;
}

.tp-main .main-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.tp-main .main-wrapper .main-box {
    line-height: 1.6;
}

.tp-main .main-wrapper .main-box > h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
}

.tp-main .main-wrapper .main-box > h3 {
    font-size: 2.2rem;
}

.tp-main .main-wrapper .main-box > .typing {
    line-height: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 2.2rem;
}
  
.tp-main .main-wrapper .main-box > .text {
    font-size: 2.2rem;
    color: #749BC2;
}
  
.tp-main .main-wrapper .main-box > .text::after {
    content: '';
    border-right: 2px solid #222;
    animation: cursor .9s infinite steps(2);
}
  
@keyframes cursor {
    from { border-right: 2px solid #222; }
    to { border-right: 2px solid #222; }
}

.tp-main .main-wrapper .main-box > a {
    font-size: 1.6rem;
    text-decoration: underline;
}

.tp-main .main-wrapper .main-img > .me {
    width: 35vw;
    animation: itsme 4s infinite;
}

@keyframes itsme {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translateY(3vw);
    }
}

.tp-main .main-wrapper .main-img > .star1 {
    position: absolute;
    bottom: 85vw;
    right: 32vw;
    width: 3.5vw;
    animation: star1 4s infinite;
}

@keyframes star1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5vw);
    }
    100% {
      transform: translateZ(0);
    }
}

.tp-main .main-wrapper .main-img > .star2 {
    position: absolute;
    bottom: 68vw;
    right: 9vw;
    width: 3.5vw;
    animation: star2 4s infinite;
}

@keyframes star2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(5vw);
    }
    100% {
      transform: translateZ(0);
    }
}