@charset "utf-8";

html,
body {
  position: relative;
  height: 100vh;
  /* background-image: linear-gradient(-125deg, #058eff, #ff3232, #14f732); */
}

body {
  /* background-color: #FDFDFD; */
  background-color: #000;
  font-family: 'pretendard', sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.swiper-slide {
    text-align: center;
    font-size: 3.2rem;
    background: #454976;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu {
    min-width: 100px;
    width: 70%;
    max-width: 320px;

  
    background-color: #444444;
    color: #fff;
}

.menu .menuwrapper {
    display: grid;
    place-items: center;
    gap: 30px;
}

.menu .menuwrapper li {
    cursor: pointer;
    font-size: 1.4rem;
    transition: 0.4s;
}

.menu .menuwrapper li:hover {
    color: #bbb;
}

.content {
    background-color: #000;
    /* background-color: #b5d5ff; */
    width: 100%;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content .main-box img {
    width: 300px;
    /* animation: rotate 6s linear infinite; transform-origin: 50% 50%; */
}

@keyframes rotate{
    100% {
        transform: rotate(360deg);
    }
}
  
.menu-button {
    position: absolute;
    top: 10px;
    left: 20px;
  
    padding: 15px;
  
    cursor: pointer;
  
    -webkit-transition: 0.3s;
    transition: 0.3s;
  
    margin: 14px;
    border-radius: 5px;
}
  
.menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
}
  
.menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
}
  
.bar {
    position: relative;
    display: block;
  
    width: 60px;
    height: 3px;
  
    margin: 10px auto;
    background-color: #282424;
    background-color: #fff;
  
    border-radius: 10px;
  
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
  
.menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4deg);
    -ms-transform: translateY(1.5px) rotate(-4deg);
    transform: translateY(1.5px) rotate(-4deg);
}
  
.menu-button:hover .bar:nth-of-type(2) {
    opacity: 0.9;
}
  
.menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4deg);
    -ms-transform: translateY(-1.5px) rotate(4deg);
    transform: translateY(-1.5px) rotate(4deg);
}
  
.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
}
  
.cross .bar:nth-of-type(2) {
    opacity: 0;
}
  
.cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
}
  
.cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
}
  
.cross:hover .bar:nth-of-type(2) {
    opacity: 0.1;
}
  
.cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
}

/* scroll */

.scroll_wrap {overflow: hidden;}
.scroll_on { padding: 60px 0; font-size: 2.5rem; font-weight: 700; text-align: center; opacity: 0;transition: all 2.5s;}
.scroll_on.active {opacity: 1 !important;transform: translate(0, 0) !important;}
.scroll_on.type_top {transform: translate(0, -70px);}
.scroll_on.type_bottom {transform: translate(0, 50px);}

/* skill */

.icando {
    width: 100%;
    height: 100%;
}

.icando .skill_box {
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    width: 90%;
    text-align: center;
}

.icando .skill_box section {
    border-bottom: 1px solid #222;
    padding: 50px;
}

.icando .skill_box section:last-child {
    border-bottom: none;
}

.icando .skill_box h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 10px 0 20px;
}

.icando .skill_box p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.icando .skill_box section:nth-child(odd) {
    border-right: 1px solid #222;
}

.icando .skill_box section:nth-child(3) {
    border-bottom: none;
}

/* project */

.project-box h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding: 50px 0 100px;
}

.project-box .project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw 0;
    place-items: center;
}

.project-box .project-list figure .sum {
    background: url(./images/sum-b.png) no-repeat 50% / cover;
    width: 480px;
    height: 600px;
    transition: 0.4s;
}

.project-box .project-list figure .sum:hover {
    background: url(./images/sum.png) no-repeat 50% / cover;
    cursor: pointer;
    transform: perspective(200px) translateZ(5px);
}

.project-box .project-list figure .happyrun {
    background: url(./images/happyrun-b.png) no-repeat 50% / cover;
    width: 480px;
    height: 600px;
    transition: 0.4s;
}

.project-box .project-list figure .happyrun:hover {
    background: url(./images/happyrun.png) no-repeat 50% / cover;
    cursor: pointer;
    transform: perspective(200px) translateZ(5px);
}

.project-box .project-list figure .canon {
    background: url(./images/canon-b.png) no-repeat 50% / cover;
    width: 480px;
    height: 600px;
    transition: 0.4s;
}

.project-box .project-list figure .canon:hover {
    background: url(./images/canon.png) no-repeat 50% / cover;
    cursor: pointer;
    transform: perspective(200px) translateZ(5px);
}

.project-box .project-list figure .forment {
    background: url(./images/forment-b.png) no-repeat 50% / cover;
    width: 480px;
    height: 600px;
    transition: 0.4s;
}

.project-box .project-list figure .forment:hover {
    background: url(./images/forment.png) no-repeat 50% / cover;
    cursor: pointer;
    transform: perspective(200px) translateZ(5px);
}

.project-box .project-list strong {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 20px 0 0;
}

.project-box .project-list figure figcaption {
    font-size: 1.03rem;
    line-height: 1.6;
}

/* footer */

footer {
    width: 100%;
    height: 50%;
    display: grid;
    place-items: center;
    margin-top: 5vw;
}

footer .btn {
    font-size: 1.5rem;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

footer .btn:hover {
    transform: translate(0, -30px);
    color: rgba(0, 0, 0, 0.5);
}