@charset "utf-8";

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: 'pretendard', sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #749bc2;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu {
    min-width: 100px;
    width: 70%;
    max-width: 320px;

  
    background-color: #749bc2;
    color: #fff;
}

.menu .menuwrapper {
    display: grid;
    gap: 30px;    
}

.menu .menuwrapper li {
    cursor: pointer;
    font-size: 1.4rem;
    transition: 0.4s;
}

.menu .menuwrapper li:hover {
    color: #bbb;
}

.content {
    background-color: #fff;
    width: 100%;
}
  
.menu-button {
    position: absolute;
    top: 10px;
    left: 20px;
  
    padding: 15px;
  
    cursor: pointer;
  
    -webkit-transition: 0.3s;
    transition: 0.3s;
  
    margin: 14px;
    border-radius: 5px;
}
  
.menu-button .bar:nth-of-type(1) {
    margin-top: 0px;
}
  
.menu-button .bar:nth-of-type(3) {
    margin-bottom: 0px;
}
  
.bar {
    position: relative;
    display: block;
  
    width: 60px;
    height: 3px;
  
    margin: 10px auto;
    background-color: #282424;
  
    border-radius: 10px;
  
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
  
.menu-button:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(1.5px) rotate(-4deg);
    -ms-transform: translateY(1.5px) rotate(-4deg);
    transform: translateY(1.5px) rotate(-4deg);
}
  
.menu-button:hover .bar:nth-of-type(2) {
    opacity: 0.9;
}
  
.menu-button:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-1.5px) rotate(4deg);
    -ms-transform: translateY(-1.5px) rotate(4deg);
    transform: translateY(-1.5px) rotate(4deg);
}
  
.cross .bar:nth-of-type(1) {
    -webkit-transform: translateY(15px) rotate(-45deg);
    -ms-transform: translateY(15px) rotate(-45deg);
    transform: translateY(15px) rotate(-45deg);
}
  
.cross .bar:nth-of-type(2) {
    opacity: 0;
}
  
.cross .bar:nth-of-type(3) {
    -webkit-transform: translateY(-15px) rotate(45deg);
    -ms-transform: translateY(-15px) rotate(45deg);
    transform: translateY(-15px) rotate(45deg);
}
  
.cross:hover .bar:nth-of-type(1) {
    -webkit-transform: translateY(13.5px) rotate(-40.5deg);
    -ms-transform: translateY(13.5px) rotate(-40.5deg);
    transform: translateY(13.5px) rotate(-40.5deg);
}
  
.cross:hover .bar:nth-of-type(2) {
    opacity: 0.1;
}
  
.cross:hover .bar:nth-of-type(3) {
    -webkit-transform: translateY(-13.5px) rotate(40.5deg);
    -ms-transform: translateY(-13.5px) rotate(40.5deg);
    transform: translateY(-13.5px) rotate(40.5deg);
}

.scroll_wrap {overflow: hidden;}
.scroll_on { padding:50px 0; font-size: 24px; font-weight:700; text-align: center; opacity: 0;transition: all 1s;}
.scroll_on.active {opacity: 1 !important;transform: translate(0, 0) !important;}
.scroll_on.type_top {transform: translate(0, -50px); font-size: 3rem;}

.skill {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    gap: 10px;
}

.skill h1 {
    text-align: center;
    font-size: 2rem;
}