@charset "utf-8";

@import url(./common.css);

article {
  width: 100%;
  padding: 40px;
}

.sum_txt h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
}

/***** header *****/
header .pc-menu {
  display: none;
}
header .mt-menu {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 240px;
}

/***** main *****/
.main_m {
  display: none;
}

.main_p {
  display: none;
}

.mySwiper1 {
  display: none;
}

.mySwiper3 {
  display: none;
}

.mySwiper2 {
  display: block;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.mySwiper2 .swiper-slide {
  background: no-repeat 50% / cover;
  text-indent: -9999px;
}

.mySwiper2 .bg1 {
  background-image: url(./images/sum-pc1.png);
}

.mySwiper2 .bg2 {
  background-image: url(./images/sum-pc2.png);
}

.mySwiper2 .bg3 {
  background-image: url(./images/sum-pc3.png);
}

.mySwiper2 .swiper-button-prev::after {
  position: absolute;
  top: -320px;
  color: #222;
  font-size: 30px;
}

.mySwiper2 .swiper-button-next::after {
  position: absolute;
  top: -310px;
  color: #222;
  font-size: 30px;
}

/* .main_t {
  width: 100%;
  height: 500px;
  display: block;
  background: url(./images/숨수지피시2.jpg) no-repeat center / cover;
}
.main_t .main_t__txt {
  width: 400px;
  position: relative;
  left: 50px;
  top: 170px;
  line-height: 1.4;
}
.main_t .main_t__txt h3 {
  font-size: 28px;
  font-weight: 500;
} */

/***** content *****/
/***** 숨 37˚ 추천 *****/
.sum_suggest_m {
  display: none;
}
.sum_suggest_p {
  display: none;
}
.sum_suggest_t {
  display: block;
}
.sum_suggest_t .sum_suggest__box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.sum_suggest_t .sum_suggest__box .sum_suggest__box__wrap {
  text-align: center;
}
.sum_suggest__img > a > img {
  height: 300px;
  padding: 30px;
  background-color: #eee;
}
.sum_suggest__txt {
  padding-top: 20px;
}
.sum_suggest__txt > h2 {
  font-size: 18px;
  font-weight: 600;
}
.sum_suggest__txt > p {
  font-size: 15px;
  color: rgba(10, 10, 10, 0.7);
}
.sum_suggest__txt > h3 {
  margin-top: 10px;
  font-weight: 500;
}
/***** youtube *****/
.youtube {
  display: none;
}
.best_seller_m {
  display: none;
}
.best_seller_t {
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
}
.best_seller_t .best_seller_t__img {
  position: relative;
}
.best_seller_t__txt {
  position: absolute;
  top: 1000px;
  left: 80px;
  /* top: 1110px;
  left: 70px; */
}
.best_seller_t__txt h2 {
  font-size: 30px;
  font-weight: 600;
}
.best_seller_t__txt p {
  margin: 20px 0;
}
.best_seller_t__txt a {
  /* font-size: 16px; */
  border: 1px solid #222;
  padding: 5px 10px;
  transition: 0.4s;
}
.best_seller_t__txt a:hover {
  background-color: #222;
  color: #fff;
}

/***** 숨 37˚ 시즌 추천 *****/
.sum_season__m {
  display: none;
}
.sum_season__p {
  display: none;
}
.sum_season__t {
  display: block;
  width: 100%;
}
.sum_season__t .sum_season__t_time-energy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.sum_season__t .sum_season__t_time-energy .sum_season__suggest___time-energy_1 {
  width: 175px;
  height: 320px;
  background-color: #eee;
}
.sum_season__t .sum_season__t_time-energy .sum_season__suggest___time-energy_2 {
  width: 175px;
  height: 320px;
  background-color: #eee;
}
.sum_season__t .sum_season__t_time-energy .sum_season__suggest___txt_share {
  width: 100%;
  text-align: center;
}
.sum_season__t .sum_season__t_time-energy .sum_season__suggest___txt_share h2 {
  margin-top: 30px;
  font-size: 17px;
  font-weight: 600;
}
.sum_season__t .sum_season__t_time-energy .sum_season__suggest___txt_share h3 {
  font-size: 13px;
  line-height: 2;
  color: #d1d1d1;
}
.sum_season__t .sum_season__t_time-energy .sum_season__suggest___txt_share p {
  margin-top: 10px;
}
.sum_season__t
  .sum_season__t_time-energy
  .sum_season__suggest___time_t
  .sum_season__suggest___timeimg {
  position: relative;
}
.sum_season__t
  .sum_season__t_time-energy
  .sum_season__suggest___time_t
  .sum_season__suggest___timeimg
  img {
  width: 380px;
  height: 320px;
}
.sum_season__t
  .sum_season__t_time-energy
  .sum_season__suggest___time_t
  .sum_season__suggest___timetxt {
  position: absolute;
  top: 10px;
  left: 166px;
  text-align: right;
}
.sum_season__t
  .sum_season__t_time-energy
  .sum_season__suggest___time_t
  .sum_season__suggest___timetxt
  h2 {
  line-height: 1.6;
  font-size: 20px;
  font-weight: 600;
}
.sum_season__t
  .sum_season__t_time-energy
  .sum_season__suggest___time_t
  .sum_season__suggest___timetxt
  p {
  font-size: 15px;
}

/***** media *****/
.media_m {
  display: none;
}
.media_p {
  display: none;
}
.media_t {
  margin-top: 80px;
  display: block;
}
.media_t .media_t_1 {
  justify-content: space-between;
  display: flex;
  gap: 30px;
}
.media_t .media_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 50%;
}
.media_txt_share_t {
  text-align: center;
}
.media_txt_share_t p {
  font-size: 18px;
  font-weight: 600;
  line-height: 3;
}
.media_txt_share_t a {
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #000;
  padding: 5px 10px;
  transition: 0.4s;
}
.media_txt_share_t a:hover {
  background-color: #000;
  color: #fff;
}
/***** with sum 37˚ *****/
.sum_slide_m {
  display: none;
}
.sum_slide_p {
  display: none;
}
.sum_slide_t {
  display: block;
}
.sum_slide_t .sum_slide_t__img {
  display: flex;
  gap: 10px;
}

/***** footer *****/
footer .footer_info__pc {
  display: none;
}
footer .footer_info__mt {
  width: 100%;
}
