@charset "utf-8";

@import url(./common.css);

html {
  scroll-behavior: smooth;
}
.upTo {
  position: fixed;
  right: 0;
  bottom: 75px;
  background: url(./images/arrow_upward.svg) rgba(0, 0, 0, 0.7) no-repeat 50% /
    80%;
  width: 40px;
  height: 40px;
  text-indent: -999px;
  overflow: hidden;
  opacity: 0.5;
  z-index: 99;
}

/* 공통된 값 */
article {
  width: 100%;
  padding: 30px;
}

.sum_txt h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
}

/***** header *****/
header {
  width: 100%;
  position: absolute;
}
header .pc-menu {
  display: none;
}
header .mt-menu {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 9999;
  padding: 10px;
}
header .mt-menu .header_menu__icon svg {
  width: 24px;
  height: 24px;
}
header .mt-menu .header_glass__icon img {
  width: 20px;
  height: 20px;
}

/***** main *****/
.main_p {
  display: none;
}
.main_t {
  display: none;
}

.mySwiper2 {
  display: none;
}

.mySwiper3 {
  display: none;
}

.mySwiper1 {
  display: block;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.mySwiper1 .swiper-slide {
  background: no-repeat 50% / cover;
  text-indent: -9999px;
}

.mySwiper1 .bg1 {
  background-image: url(./images/sum-m1.png);
}

.mySwiper1 .bg2 {
  background-image: url(./images/sum-m2.png);
}

.mySwiper1 .bg3 {
  background-image: url(./images/sum-m3.png);
}

.mySwiper1 .swiper-button-prev::after {
  position: absolute;
  top: -100px;
  color: #222;
  font-size: 28px;
}

.mySwiper1 .swiper-button-next::after {
  position: absolute;
  top: -100px;
  color: #222;
  font-size: 28px;
}

/* .main_m {
  width: 100%;
  height: 931px;
  display: block;
  background: url(./images/숨수지모바일3.jpg) no-repeat center / cover;
}
.main_m .main_m__txt {
  width: 300px;
  position: relative;
  left: 20px;
  top: 600px;
}
.main_m .main_m__txt h3 {
  font-size: 30px;
  font-weight: 500;
}
.main_m .main_m__txt p {
  line-height: 2.5;
  font-size: 18px;
} */

/***** content *****/
/***** 숨 37˚ 추천 *****/
.sum_suggest_t {
  display: none;
}
.sum_suggest_p {
  display: none;
}
.sum_suggest_m {
  display: block;
  text-align: center;
}
.sum_suggest_m .sum_suggest__img {
  width: 100%;
  background-color: #eee;
  height: 400px;
}
.sum_suggest_m .sum_suggest__img img {
  width: 280px;
  height: 340px;
}
.sum_suggest_m .sum_suggest__txt_share {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
}
.sum_suggest_m .sum_suggest__txt_share h2 {
  font-size: 21px;
  font-weight: 600;
}
.sum_suggest_m .sum_suggest__txt_share p {
  margin-top: 12px;
}
/***** youtube *****/
.youtube {
  display: none;
}
.best_seller_m__img {
  width: 100%;
  position: relative;
}
.best_seller_m__txt {
  position: absolute;
  top: 1440px;
  left: 60px;
  width: 300px;
}
.best_seller_m__txt h2 {
  font-size: 24px;
  font-weight: 600;
}
.best_seller_m__txt p {
  margin: 16px 0;
}
.best_seller_m__txt a {
  /* font-size: 16px; */
  border: 1px solid #222;
  padding: 5px 10px;
  transition: 0.4s;
}
.best_seller_m__txt a:hover {
  background-color: #222;
  color: #fff;
}
.best_seller_t {
  display: none;
}

/***** 숨 37˚ 시즌 추천 *****/
.sum_season__t {
  display: none;
}
.sum_season__p {
  display: none;
}
.sum_season__m {
  width: 100%;
}
.sum_season__m .sum_season__suggest___timetxt {
  text-align: center;
  margin-top: 16px;
}
.sum_season__m .sum_season__suggest___timetxt h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.8;
}
.sum_season__m .sum_season__suggest___time-energy {
  width: 100%;
  display: flex;
  text-align: center;
  margin-top: 20px;
  height: 340px;
}
.sum_season__m
  .sum_season__suggest___time-energy
  .sum_season__suggest___txt_share
  h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.sum_season__m
  .sum_season__suggest___time-energy
  .sum_season__suggest___txt_share
  h3 {
  color: #2222226c;
  width: 110px;
  margin: auto;
}
.sum_season__m
  .sum_season__suggest___time-energy
  .sum_season__suggest___txt_share
  p {
  margin-top: 16px;
  font-weight: 600;
}
.sum_season__m .sum_season__suggest___time-energy_1 {
  background-color: #eee;
  margin-right: 10px;
}
.sum_season__m .sum_season__suggest___time-energy_1 img {
  width: 100%;
}
.sum_season__m .sum_season__suggest___time-energy_2 {
  background-color: #eee;
}
.sum_season__m .sum_season__suggest___time-energy_2 img {
  width: 100%;
}
/***** media *****/
.media_t {
  display: none;
}
.media_p {
  display: none;
}
.media_m {
  display: block;
}
.media_m .media_img img {
  width: 100%;
  margin-top: 60px;
}
.media_m .media_txt_share {
  text-align: center;
  line-height: 2.5;
}
.media_m .media_txt_share p {
  font-size: 20px;
  font-weight: 600;
}
.media_m .media_txt_share a {
  border: 1px solid #222;
  padding: 5px 10px;
  transition: 0.4s;
}
.media_m .media_txt_share a:hover {
  background-color: #222;
  color: #fff;
}

/***** with sum 37˚ *****/
.sum_slide_t {
  display: none;
}
.sum_slide_p {
  display: none;
}
.sum_slide_m img {
  display: block;
}
/***** footer *****/
footer {
}
footer .footer_info__pc {
  display: none;
}
footer .footer_info__mt {
  display: block;
}
footer .footer_info__mt .footer_info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 16px;
}
footer .footer_info__mt .footer_share {
  border: 1px solid #eee;
  padding: 16px;
}
footer .footer_info__mt .footer_share p {
  font-size: 18px;
  font-weight: 600;
}
