@charset "utf-8";
@import url(./common.css);

.upTo {
  bottom: 85px;
  width: 50px;
  height: 50px;
}

article {
  width: 100%;
  padding: 120px 100px;
}

.sum_txt h2 {
  font-size: 28px;
}

/***** header *****/
header .mt-menu {
  display: none;
}
header .pc-menu {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  position: relative;
  z-index: 9999;
  padding: 5px;
}
header .pc-menu .pc_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .pc-menu .pc_header .language_list {
  display: flex;
  align-items: center;
}
#language {
  border: none;
  background-color: inherit;
  text-align: center;
  width: 160px;
}
/* header .pc-menu .language_list .language_icon {
  width: 20px;
  height: 20px;
} */
header .pc_header__main___icon {
  width: 280px;
}
header .pc_header__more {
  display: flex;
  gap: 10px;
  align-items: center;
}
header .pc_header__more img {
  width: 20px;
  height: 20px;
}
header .pc-menu .pc_header__wrapper ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 20px;
}

/***** main *****/
.main_m {
  display: none;
}
.main_t {
  display: none;
}

.mySwiper1 {
  display: none;
}

.mySwiper2 {
  display: none;
}

.mySwiper3 {
  display: block;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.mySwiper3 .swiper-slide {
  background: no-repeat 50% / cover;
  text-indent: -9999px;
}

.mySwiper3 .bg1 {
  background-image: url(./images/sum-pc1.png);
}

.mySwiper3 .bg2 {
  background-image: url(./images/sum-pc2.png);
}

.mySwiper3 .bg3 {
  background-image: url(./images/sum-pc3.png);
}

.mySwiper3 .swiper-button-prev::after {
  position: absolute;
  top: -100px;
  left: 50px;
  color: #222;
}

.mySwiper3 .swiper-button-next::after {
  position: absolute;
  top: -100px;
  right: 50px;
  color: #222;
}

/* .main_p {
  width: 100%;
  height: 692px;
  display: block;
  background: url('./images/숨수지피시1.jpg') no-repeat center;
}
.main_p .main_p__background img {
  width: 100%;
  position: absolute;
  top: 0;
}
.main_p .main_p__txt {
  width: 500px;
  top: 350px;
  left: 60px;
  position: relative;
  line-height: 1.6;
}
.main_p .main_p__txt h3 {
  font-size: 40px;
  font-weight: 500;
}
.main_p .main_p__txt p {
  font-size: 20px;
  font-weight: 400;
} */

/***** content *****/
/***** 숨 37˚ 추천 *****/
.sum_suggest_m {
  display: none;
}
.sum_suggest_t {
  display: none;
}
.sum_suggest_p {
  width: 100%;
  display: block;
}
.sum_suggest_p .sum_suggest__box {
  display: flex;
  justify-content: center;
  gap: 55px;
}
.sum_suggest_p .sum_suggest__box .sum_suggest__box__wrap {
  text-align: center;
}
.sum_suggest__img > a > img {
  padding: 30px 90px;
  height: 500px;
}
.sum_suggest__txt > h2 {
  font-size: 24px;
  line-height: 1.5;
}
.sum_suggest__txt > p {
  font-size: 20px;
}
.sum_suggest__txt > h3 {
  font-size: 18px;
  margin-top: 15px;
}
/***** youtube *****/
.best_seller_m {
  display: none;
}
.best_seller_t {
  display: none;
}
.youtube {
  display: block;
}
.youtube iframe {
  width: 100%;
  height: 40vw;
  pointer-events: none;
}

/***** 숨 37˚ 시즌 추천 *****/
.sum_season__m {
  display: none;
}
.sum_season__t {
  display: none;
}
.sum_season__p {
  display: block;
  margin-top: 20px;
}
.sum_season__p .sum_season__p_time-energy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.sum_season__p .sum_season__p_time-energy .sum_season__suggest___time-energy_1 {
  width: 33%;
  height: 700px;
  background-color: #eee;
  padding: 20px;
}
.sum_season__p .sum_season__p_time-energy .sum_season__suggest___time-energy_2 {
  width: 33%;
  height: 700px;
  background-color: #eee;
  padding: 20px;
}
.sum_season__p .sum_season__p_time-energy .sum_season__suggest___txt_share {
  width: 100%;
  text-align: center;
}
.sum_season__p .sum_season__p_time-energy .sum_season__suggest___txt_share h2 {
  margin-top: 30px;
  font-size: 26px;
  line-height: 2;
  font-weight: 600;
}
.sum_season__p .sum_season__p_time-energy .sum_season__suggest___txt_share h3 {
  font-size: 22px;
  color: #2222226c;
}
.sum_season__p .sum_season__p_time-energy .sum_season__suggest___txt_share p {
  margin-top: 30px;
  font-size: 20px;
}
.sum_season__p
  .sum_season__p_time-energy
  .sum_season__suggest___time_p
  .sum_season__suggest___timeimg {
  position: relative;
}
.sum_season__p
  .sum_season__p_time-energy
  .sum_season__suggest___time_p
  .sum_season__suggest___timeimg
  img {
  width: 100%;
  height: 700px;
}
.sum_season__p
  .sum_season__p_time-energy
  .sum_season__suggest___time_p
  .sum_season__suggest___timetxt {
  width: 100%;
  position: absolute;
  top: 550px;
  left: 50px;
  text-align: left;
}
.sum_season__p
  .sum_season__p_time-energy
  .sum_season__suggest___time_p
  .sum_season__suggest___timetxt
  h2 {
  line-height: 1.6;
  font-size: 26px;
  font-weight: 600;
}
.sum_season__p
  .sum_season__p_time-energy
  .sum_season__suggest___time_p
  .sum_season__suggest___timetxt
  h3 {
  color: #2222226c;
  font-size: 22px;
}
.sum_season__p
  .sum_season__p_time-energy
  .sum_season__suggest___time_p
  .sum_season__suggest___timetxt
  p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

/***** media *****/
.media_m {
  display: none;
}
.media_t {
  display: none;
}
.media_p {
  width: 100%;
  display: block;
}
.media_p .media_p_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media_p .media_img1 {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.media_p .media_img2 {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.media_p .media_img2 > img {
  /* height: 830px; */
}

.media_txt_share_p {
  text-align: center;
  margin-top: 10px;
}
.media_txt_share_p p {
  font-size: 24px;
  font-weight: 600;
  line-height: 4;
}
.media_txt_share_p a {
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #000;
  padding: 10px 16px;
  transition: 0.4s;
}
.media_txt_share_p a:hover {
  background-color: #000;
  color: #fff;
}

/***** with sum 37˚ *****/
.sum_slide_m {
  display: none;
}
.sum_slide_t {
  display: none;
}
.sum_slide_p {
  width: 100%;
  display: block;
}
.sum_slide_p .sum_slide_p__img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

/***** footer *****/
footer .footer_info__mt {
  display: none;
}
footer .footer_info__pc {
  width: 100%;
  display: block;
}
footer .footer_info__pc .footer_info__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
footer .footer_info__pc .footer_info__wrapper .footer_info__icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer_share {
  border-top: 1px solid #eee;
  padding: 40px;
  line-height: 2;
}
