@charset "utf-8";

html,
body {
  /* position: relative; */
  height: 100%;
}

body {
  background: #f7f7ee;
  font-family: 'pretendard', sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.forment {
  font-family: 'trirong', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 47%;
  z-index: 100;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f7f7ee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  min-width: 100px;
  width: 70%;
  max-width: 320px;

  background-color: #f7f7ee;
  color: #282424;
}

.content {
  background: url(./images/wave7.png) no-repeat 100% / cover;
  width: 100%;
}

.menu-button {
  position: absolute;
  top: 10px;
  left: 20px;

  padding: 15px;

  cursor: pointer;

  -webkit-transition: 0.3s;
  transition: 0.3s;

  /*margin: 14px;
        border-radius: 5px;*/
}

.menu-button .bar:nth-of-type(1) {
  margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
  margin-bottom: 0px;
}

.bar {
  position: relative;
  display: block;

  width: 60px;
  height: 3px;

  margin: 10px auto;
  background-color: #282424;

  border-radius: 10px;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-button:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(1.5px) rotate(-4deg);
  -ms-transform: translateY(1.5px) rotate(-4deg);
  transform: translateY(1.5px) rotate(-4deg);
}

.menu-button:hover .bar:nth-of-type(2) {
  opacity: 0.9;
}

.menu-button:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-1.5px) rotate(4deg);
  -ms-transform: translateY(-1.5px) rotate(4deg);
  transform: translateY(-1.5px) rotate(4deg);
}

.cross .bar:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  -ms-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
  opacity: 0;
}

.cross .bar:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  -ms-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(13.5px) rotate(-40.5deg);
  -ms-transform: translateY(13.5px) rotate(-40.5deg);
  transform: translateY(13.5px) rotate(-40.5deg);
}

.cross:hover .bar:nth-of-type(2) {
  opacity: 0.1;
}

.cross:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-13.5px) rotate(40.5deg);
  -ms-transform: translateY(-13.5px) rotate(40.5deg);
  transform: translateY(-13.5px) rotate(40.5deg);
}

/* wave1 */
.wave1 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.wave1 .bottom-box > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wave1 .txt-box > img {
  position: relative;
  width: 100%;
  height: 100vh;
}

.wave1 .txt-box p {
  width: 100%;
  font-family: 'trirong', sans-serif;
  font-style: italic;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f7f7ee;
  line-height: 3;
}

/* wave2 */
.wave2 {
  width: 100%;
  height: 100vh;
}

.wave2 .wave-txt {
  font-size: 2rem;
  text-align: center;
  margin-top: 150px;
}

.wave2 .wave-txt span {
  font-family: 'trirong', sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

.wave2 .wave-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 100px;
  gap: 20px;
}

.wave2 .wave-info .wave-info1 p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.wave2 .wave-info .wave-info1 .wave-button {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.wave2 .wave-info .wave-info1 .wave-button a {
  width: 60px;
  background-color: #03364f;
  color: #f7f7ee;
  border-radius: 30px;
  text-align: center;
  font-size: 1.1rem;
}

.wave2 .wave-info .wave-info1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-self: flex-start;
  justify-self: center;
}

.wave2 .wave-info .wave-info2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  align-self: flex-start;
  justify-self: center;
}

.wave2 .wave-info .wave-info2 img {
  width: 728px;
  height: 500px;
  border-radius: 30px;
  object-fit: cover;
}

.wave2 .wave-info .wave-info3 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: flex-start;
}

.wave2 .wave-info .wave-info3 img {
  width: 861px;
  height: 575px;
  border-radius: 30px;
  object-fit: cover;
}
.wave2 .wave-info .wave-info4 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-self: flex-start;
}

.wave2 .wave-info .wave-info4 img {
  width: 280px;
  height: 280px;
  border-radius: 30px;
}